@import url("https://fonts.googleapis.com/css2?family=Asap:wght@600&family=Inconsolata&family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Asap", Helvetica, sans-serif;
  background-color: #333;
  height: 100vh;
  flex-direction: row;
}

.title {
  color: white;
  text-align: center;
  padding-top: 50px;
}
.title h1 {
  padding-bottom: 15px;
  padding-top: 20px;
  background-color: red;
}

.score-container_div {
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-around;
  border: 3px solid white;
}

h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.photoContainer {
  display: flex;
  justify-content: space-around;
}

.photo {
  border: 1px solid white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: -800px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 28px;
  transition: all 0.4s ease;
}
button:hover {
  background: green;
  cursor: pointer;
}

p {
  font-size: larger;
  font-weight: bold;
}
